html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html,body{font-family:Verdana,Arial,Helvetica,sans-serif;background-color:#f0f0f0}
body{margin:0;}
img{border:0;width:100%;height:auto}
html{font-size:12px;}
@media screen and (min-width:320px) {html{font-size:calc(9px + 0.5vw + 0.5vmax);} .bod{max-width:150vmin}}
@media screen and (min-width:1100px) {html{font-size:20px;} .bod{max-width:1080px;}}

div{font-size:1.2rem}
p{padding:0 1rem;font-size:1rem}
a{color:#000000;text-decoration:none}
header{position:relative;}
hr{border-top:1px solid #cccccc}
.bod{position:relative;margin:0 auto;width:100%;background-color:#ffffff}

h1{position:absolute;top:25%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);white-space:nowrap;padding:0.5rem 2rem;border:1px solid #cccccc;letter-spacing:0.5rem;color:#f1f1f1;border-radius:4px;font-size:1.5rem;font-weight:normal}

.bar{position:absolute;bottom:-0.9rem;left:50%;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%);background-color:#f0f0f0;border-radius:4px;padding:0.3rem 0.7rem;white-space:nowrap}
.but{padding:0.3rem}

.card{position:relative;margin:1.5rem 0.4rem;border:1px solid #bfbfbf;border-radius:4px;background-color:#ffffff;box-shadow:3px 3px 5px #aaaaaa;}

.icn{display:inline-block;width:2.5rem;height:2.5rem;max-width:64px;max-height:64px;margin:0 0 0 0.2rem}

.upbtn{position:absolute;right:0;bottom:-1rem;font-size:1.2rem;padding:0 0.5rem;background-color:#ffffff;box-shadow:3px 3px 5px #aaaaaa;border-radius:4px}

.foo{text-align:center;width:99%;padding:0.4rem 0;font-size:0.7rem;white-space:nowrap;background-color:#cccccc;background-image:linear-gradient(to right,#ffffff,10%,#bbbbbb,90%,#ffffff)}